WOODPECKER_SERVER={{ instance.name }}.{{ instance.domainName }}:{{ instance.rpcPort }}
WOODPECKER_AGENT_SECRET={{ instance.agentSecret }}
WOODPECKER_HOSTNAME={{ ansible_hostname }}
WOODPECKER_AGENT_CONFIG_FILE={{ woodpecker_config_dir }}agent-{{ instance.name }}.conf

{% if WOODPECKER_AGENT_LABELS is defined %}
WOODPECKER_AGENT_LABELS="{{ WOODPECKER_AGENT_LABELS }}"
{% endif %}

{% if instance.agentHealthCheck is defined %}
WOODPECKER_HEALTHCHECK_ADDR={{ instance.agentHealthCheck }}
WOODPECKER_HEALTHCHECK=true
{% endif %}

