#for native server not used 
WOODPECKER_OPEN=true
WOODPECKER_HOST=https://{{ instance.name }}.{{ instance.domainName }}
WOODPECKER_SERVER_ADDR=:{{ instance.port }}
WOODPECKER_SERVER_PROTO=https
WOODPECKER_GITHUB=true
WOODPECKER_GITHUB_CLIENT={{ instance.githubID }}
WOODPECKER_GITHUB_SECRET={{ instance.githubSecret }}
WOODPECKER_AGENT_SECRET={{ instance.agentSecret }}
WOODPECKER_SERVER_CERT={{ instance.droneCert }}
WOODPECKER_SERVER_KEY={{ instance.droneKey }}


